  body{
        background: #89609e;
        font-family: cursive;
    }

    form{
        max-width: 500px;
        margin: 0 auto;
        padding: 30px;
        text-align: center;
        width: 40%;
        background-color: white;
    }

    input[type="text"], input[type="password"] {
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 26px;
    }

    input[type="password"]:focus{
     background: #cabcd2;
    }

    input[type="text"]:focus{
     background: #cabcd2;
    }

    input[type="submit"]{
        background: #755286;
        width: 40%;
        border: 0;
        padding: 15px;
        color: white;
        font-size: 26px;
        margin: 5px;
        cursor: pointer;
    }

    input[type="submit"]:hover{
        background: #89609e;
        color: #e7e0eb;
        opacity: 1;
    }

    .header{
        padding-top: 30px;
        margin-top: 30px;
        font-size: 80px;
        text-align: center;
        color: #fff;
    }

    label{
        float: left;
        font-size: 26px;
        color: #89609e;
        margin-bottom: 10px;
    }
    h1{
        color: #89609e;
        margin-bottom: 10px;

    }