table {
	text-align: center;
	overflow: hidden;
	width: 80%;
	margin: 0 auto;
    border-collapse: collapse;
}

td{
	padding: 2%;
    font-size: 20px;
    color: #89609e;
}

tr:nth-child(even){background-color: #e8dfec}
tr:nth-child(odd){background-color: #dcd0e2}

th {
    font-weight: bold;
    font-size: 28px;
    padding: 2%;
    color: #e8dfec;
	background-color: #291d2f;
}

tr:hover {
   background-color: #b9a0c5;
   font-weight: bold;
}

td:hover {
    color: white;
}