<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>violet2.0</title>
    <link type="text/css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<div class = "header">
    <p>violet2.0</p>
</div>

<form th:action="@{/acts}" method="post" th:object="${category}">
    <h1> Add Category </h1>
    <div><label>Name: </label><input type="text" name="name" th:field="*{name}" /></div>
    <div><input type="submit" value="Add" /></div>
</form>
</body>
</html>