<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>violet2.0</title>
        <link type="text/css" th:href="@{/css/style.css}" rel="stylesheet" />
    </head>
    <body>
        <div class = "header">
            <p>violet2.0</p>
        </div>

        <form th:action="@{/apts}" method="post" th:object="${product}">
            <h1> Add Product </h1>
            <div><label>ID: </label><input type="text" name="id" th:field="*{id}" /></div>
            <div><label>Name: </label><input type="text" name="password" th:field="*{name}" /></div>
            <div>
                <label>Brand: </label>
                <input list="brands" name="brand" th:field="*{brand}"></input>
                <datalist id="brands">
                    <option th:each="brand: ${brands}" th:value="${brand}"></option>
                </datalist>
            </div>
            <div>
                <label>Category: </label>
                <input list="categories" name="category" th:field="*{category}"></input>
                <datalist id="categories">
                    <option th:each="category: ${categories}" th:value="${category}"></option>
                </datalist>
            </div>
            <div><label>Description: </label><input type="text" name="description" th:field="*{description} " /></div>
            <div><input type="submit" value="Add" /></div>
        </form>
    </body>
</html>