<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>violet2.0</title>
</head>
<body>
    <form th:action="@{/register}" method="post" th:object="${user}" >
        <div><label>User Name: <input type="text" name="username" th:field="*{username}" /></label></div>
        <div><label>Password: <input type="password" name="pass" /></label></div>
        <div><label>Email: <input type="text" name="email" th:field="*{email}" /></label></div>
        <div><input type="submit" value="Sign Up" /></div>
    </form>
</body>
</html>