<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>violet2.0</title>
        <link type="text/css" th:href="@{/css/style.css}" rel="stylesheet" />
    </head>

    <body>
        <div class = "header">
            <p>violet2.0</p>
        </div>

        <form th:action="@{/vsts}" method="post">
            <h1> View Statistics </h1>
            <div>
                <label>Views: </label>
                <input type="text" name="views" th:each="st: ${stores}" th:value="${st.views()}" readonly="readonly"/>
            </div>

            <div>
                <label>Orders: </label>
                <input type="text" name="orders" th:each="st: ${stores}" th:value="${st.orders()}" readonly="readonly" />
            </div>

            <div>
                <label>Most Bought: </label>
                <input type="text" name="mostBought" placeholder="Most Bought" readonly="readonly"/>
            </div>
        </form>
    </body>
</html>